<a href="https://colab.research.google.com/github/JorgeZarama/TFM/blob/main/Par%C3%A1metros_An%C3%A1lisis_fundamental_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

# Tu API key de Finnhub
api_key = 'cr11209r01qo0i56kq4gcr11209r01qo0i56kq50'

# Definimos las acciones que vamos a analizar
symbols = ['ASML', 'GOOGL', 'LRCX', 'TSM']

# Fechas de inicio y fin
start_date = '2018-08-01'
end_date = '2024-08-01'

# Inicializar un DataFrame para guardar los datos
columns = ['Symbol', 'Date', 'P/E', 'P/B', 'Dividend Yield']
df = pd.DataFrame(columns=columns)

# Función para obtener datos fundamentales históricos
def get_fundamental_data(symbol, api_key, start_date, end_date, df):
    url = f'https://finnhub.io/api/v1/stock/metric?symbol={symbol}&metric=all&token={api_key}'
    r = requests.get(url)
    data = r.json()
    if 'metric' in data:
        dates = pd.date_range(start=start_date, end=end_date, freq='M')
        for date in dates:
            df_row = {
                'Symbol': symbol,
                'Date': date.strftime('%Y-%m-%d'),
                'P/E': data['metric'].get('peInclExtraTTM', None),
                'P/B': data['metric'].get('pbAnnual', None),
                'Dividend Yield': data['metric'].get('dividendYieldIndicatedAnnual', None)
            }
            df = df.append(df_row, ignore_index=True)
    return df

# Obtener y guardar los datos en el DataFrame
for symbol in symbols:
    df = get_fundamental_data(symbol, api_key, start_date, end_date, df)

# Guardar en un archivo CSV
df.to_csv('fundamental_data_finnhub.csv', index=False)

print("Datos guardados en 'fundamental_data_finnhub.csv'")

Datos guardados en 'fundamental_data_finnhub.csv'

In [ ]:
import yfinance as yf
import pandas as pd

# Definimos las acciones que vamos a analizar
symbols = ['ASML', 'GOOGL', 'LRCX', 'TSM']

# Fechas de inicio y fin
start_date = '2018-08-01'
end_date = '2024-08-01'

# Inicializar un DataFrame para guardar los datos
columns = ['Symbol', 'Date', 'P/E', 'P/B', 'Dividend Yield']
df = pd.DataFrame(columns=columns)

# Descargar y almacenar los datos
for symbol in symbols:
    stock = yf.Ticker(symbol)
    hist = stock.history(start=start_date, end=end_date)
    display(hist)
#     for date, row in hist.iterrows():
#         pe_ratio = stock.info.get('trailingPE', None)
#         pb_ratio = stock.info.get('priceToBook', None)
#         dividend_yield = stock.info.get('dividendYield', None)
#         df = df.append({
#             'Symbol': symbol,
#             'Date': date.strftime('%Y-%m-%d'),
#             'P/E': pe_ratio,
#             'P/B': pb_ratio,
#             'Dividend Yield': dividend_yield
#         }, ignore_index=True)

# # Guardar en un archivo CSV
# df.to_csv('fundamental_data_yfinance.csv', index=False)

# print("Datos guardados en 'fundamental_data_yfinance.csv'")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-01 00:00:00-04:00,201.804539,203.086976,200.606980,201.710251,802500,0.000,0.0
2018-08-02 00:00:00-04:00,200.540950,203.794186,200.097754,203.511307,613900,0.000,0.0
2018-08-03 00:00:00-04:00,201.851686,202.672064,200.239220,202.530624,456100,0.000,0.0
2018-08-06 00:00:00-04:00,200.842710,201.568785,200.267499,201.389633,501000,0.000,0.0
2018-08-07 00:00:00-04:00,202.304308,202.738079,200.823856,201.380203,537600,0.000,0.0
...,...,...,...,...,...,...,...
2024-07-25 00:00:00-04:00,871.385485,884.730754,848.607681,861.034668,2075900,0.000,0.0
2024-07-26 00:00:00-04:00,892.266750,893.913723,880.598368,886.747009,1681600,0.000,0.0
2024-07-29 00:00:00-04:00,886.989990,898.000000,869.020020,870.549988,1231500,1.643,0.0
2024-07-30 00:00:00-04:00,892.500000,893.940002,856.000000,860.239990,1682100,0.000,0.0
2024-07-31 00:00:00-04:00,925.520020,942.239990,917.039978,936.700012,2406800,0.000,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-01 00:00:00-04:00,61.884476,62.223583,61.176788,61.578827,36994000,0.0,0.0
2018-08-02 00:00:00-04:00,60.855156,62.149173,60.833182,61.985359,34704000,0.0,0.0
2018-08-03 00:00:00-04:00,62.187628,62.254552,61.400533,61.837032,21264000,0.0,0.0
2018-08-06 00:00:00-04:00,62.009334,62.051785,61.455968,61.812557,22114000,0.0,0.0
2018-08-07 00:00:00-04:00,62.528734,63.231431,62.518248,62.720016,42506000,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-25 00:00:00-04:00,172.520004,173.419998,167.190002,167.279999,44852000,0.0,0.0
2024-07-26 00:00:00-04:00,167.149994,168.089996,164.059998,167.000000,41336900,0.0,0.0
2024-07-29 00:00:00-04:00,168.830002,170.429993,167.990005,169.529999,20293800,0.0,0.0
2024-07-30 00:00:00-04:00,170.240005,171.229996,168.440002,170.289993,18959700,0.0,0.0
2024-07-31 00:00:00-04:00,173.240005,174.250000,170.009995,171.539993,25729100,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-01 00:00:00-04:00,173.406048,174.255414,169.725498,170.136475,2559000,0.0,0.0
2018-08-02 00:00:00-04:00,167.844082,171.771224,167.697953,170.876205,1819200,0.0,0.0
2018-08-03 00:00:00-04:00,170.602211,171.780346,169.716320,171.049713,1507500,0.0,0.0
2018-08-06 00:00:00-04:00,170.063396,172.227884,170.017729,171.981293,1793000,0.0,0.0
2018-08-07 00:00:00-04:00,172.383133,172.593185,167.725358,169.789398,2727700,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-25 00:00:00-04:00,910.919983,917.659973,881.960022,884.119995,1931800,0.0,0.0
2024-07-26 00:00:00-04:00,908.099976,908.659973,889.039978,894.640015,1167900,0.0,0.0
2024-07-29 00:00:00-04:00,909.190002,931.330017,890.789978,892.340027,825100,0.0,0.0
2024-07-30 00:00:00-04:00,900.000000,905.070007,853.510010,854.859985,1339900,0.0,0.0
2024-07-31 00:00:00-04:00,893.500000,924.739990,880.500000,921.239990,1941900,0.0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-01 00:00:00-04:00,36.170245,36.423368,36.065506,36.405910,6115000,0.0,0.0
2018-08-02 00:00:00-04:00,35.873463,36.353525,35.786181,36.266239,4669300,0.0,0.0
2018-08-03 00:00:00-04:00,36.344810,36.615389,36.274985,36.388451,4575200,0.0,0.0
2018-08-06 00:00:00-04:00,35.960756,36.152777,35.786188,35.847286,7245800,0.0,0.0
2018-08-07 00:00:00-04:00,35.847294,36.004405,35.646543,35.995678,7494900,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-25 00:00:00-04:00,158.160004,163.399994,152.110001,160.279999,25731800,0.0,0.0
2024-07-26 00:00:00-04:00,164.300003,164.589996,159.190002,161.940002,13089200,0.0,0.0
2024-07-29 00:00:00-04:00,162.679993,163.229996,158.630005,160.009995,12663100,0.0,0.0
2024-07-30 00:00:00-04:00,160.440002,161.149994,152.550003,154.539993,22018000,0.0,0.0
2024-07-31 00:00:00-04:00,163.770004,166.649994,162.070007,165.800003,19860400,0.0,0.0

In [ ]:
2pQXKrWihCL4AWQP1RwW

SyntaxError: invalid syntax (2422272716.py, line 1)

In [ ]:
import yfinance as yf

GOOGLE.info

{'address1': '1600 Amphitheatre Parkway',
 'city': 'Mountain View',
 'state': 'CA',
 'zip': '94043',
 'country': 'United States',
 'phone': '650 253 0000',
 'website': 'https://abc.xyz',
 'industry': 'Internet Content & Information',
 'industryKey': 'internet-content-information',
 'industryDisp': 'Internet Content & Information',
 'sector': 'Communication Services',
 'sectorKey': 'communication-services',
 'sectorDisp': 'Communication Services',
 'longBusinessSummary': 'Alphabet Inc. offers various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, including ads, Android, Chrome, devices, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play and YouTube; and devices, as well as in the provision of YouTube consumer subscription services. The Google Cloud segment offers infrastructure, cybersecurity, databases, analytics, AI, and other services; Google Workspace that include cloud-based communication and collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells healthcare-related and internet services. The company was incorporated in 1998 and is headquartered in Mountain View, California.',
 'fullTimeEmployees': 179582,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Sundar  Pichai',
   'age': 50,
   'title': 'CEO & Director',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 8802824,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ruth M. Porat',
   'age': 65,
   'title': 'President & Chief Investment Officer',
   'yearBorn': 1958,
   'fiscalYear': 2023,
   'totalPay': 2515700,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Lawrence Edward Page II',
   'age': 50,
   'title': 'Co-Founder & Director',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sergey  Brin',
   'age': 49,
   'title': 'Co-Founder & Director',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. J. Kent Walker',
   'age': 62,
   'title': 'President of Global Affairs, Chief Legal Officer & Company Secretary',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 2511737,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Prabhakar  Raghavan',
   'age': 62,
   'title': 'Senior Vice President of Knowledge and Information - Google',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 2511737,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Philipp  Schindler',
   'age': 52,
   'title': 'Senior Vice President & Chief Business Officer of Google',
   'yearBorn': 1971,
   'fiscalYear': 2023,
   'totalPay': 2514032,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Anat  Ashkenazi',
   'age': 50,
   'title': 'Senior VP & CFO',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Amie Thuener O'Toole",
   'age': 48,
   'title': 'Chief Accounting Officer & VP',
   'yearBorn': 1975,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ellen  West',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 9,
 'boardRisk': 8,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 10,
 'overallRisk': 10,
 'governanceEpochDate': 1722470400,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 161.3,
 'open': 161.42,
 'dayLow': 161.13,
 'dayHigh': 165.06,
 'regularMarketPreviousClose': 161.3,
 'regularMarketOpen': 161.42,
 'regularMarketDayLow': 161.13,
 'regularMarketDayHigh': 165.06,
 'dividendRate': 0.8,
 'dividendYield': 0.0049,
 'exDividendDate': 1725840000,
 'payoutRatio': 0.0287,
 'beta': 1.046,
 'trailingPE': 23.380203,
 'forwardPE': 18.75259,
 'volume': 24165772,
 'regularMarketVolume': 24165772,
 'averageVolume': 25051003,
 'averageVolume10days': 31270240,
 'averageDailyVolume10Day': 31270240,
 'bid': 162.94,
 'ask': 163.02,
 'bidSize': 100,
 'askSize': 200,
 'marketCap': 2015978323968,
 'fiftyTwoWeekLow': 120.21,
 'fiftyTwoWeekHigh': 191.75,
 'priceToSalesTrailing12Months': 6.140958,
 'fiftyDayAverage': 175.5844,
 'twoHundredDayAverage': 154.53255,
 'trailingAnnualDividendRate': 0.2,
 'trailingAnnualDividendYield': 0.0012399256,
 'currency': 'USD',
 'enterpriseValue': 1934031585280,
 'profitMargins': 0.26702,
 'floatShares': 10983843700,
 'sharesOutstanding': 5858999808,
 'sharesShort': 65675575,
 'sharesShortPriorMonth': 70084395,
 'sharesShortPreviousMonthDate': 1719532800,
 'dateShortInterest': 1722384000,
 'sharesPercentSharesOut': 0.0053,
 'heldPercentInsiders': 0.00246,
 'heldPercentInstitutions': 0.80878997,
 'shortRatio': 2.75,
 'shortPercentOfFloat': 0.0112,
 'impliedSharesOutstanding': 12371000320,
 'bookValue': 24.408,
 'priceToBook': 6.6764994,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1719705600,
 'earningsQuarterlyGrowth': 0.286,
 'netIncomeToCommon': 87656996864,
 'trailingEps': 6.97,
 'forwardEps': 8.69,
 'pegRatio': 1.03,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1658102400,
 'enterpriseToRevenue': 5.891,
 'enterpriseToEbitda': 16.748,
 '52WeekChange': 0.26945543,
 'SandP52WeekChange': 0.2623955,
 'lastDividendValue': 0.2,
 'lastDividendDate': 1717977600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'GOOGL',
 'underlyingSymbol': 'GOOGL',
 'shortName': 'Alphabet Inc.',
 'longName': 'Alphabet Inc.',
 'firstTradeDateEpochUtc': 1092922200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'e15ce71f-f533-3912-9f11-a46c09e2412b',
 'messageBoardId': 'finmb_29096',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 162.96,
 'targetHighPrice': 234.59,
 'targetLowPrice': 170.0,
 'targetMeanPrice': 203.91,
 'targetMedianPrice': 205.0,
 'recommendationMean': 1.9,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 45,
 'totalCash': 100724998144,
 'totalCashPerShare': 8.182,
 'ebitda': 115478003712,
 'totalDebt': 28718999552,
 'quickRatio': 1.897,
 'currentRatio': 2.079,
 'totalRevenue': 328284012544,
 'debtToEquity': 9.549,
 'revenuePerShare': 26.353,
 'returnOnAssets': 0.15961,
 'returnOnEquity': 0.30871,
 'freeCashflow': 43988500480,
 'operatingCashflow': 105059000320,
 'earningsGrowth': 0.314,
 'revenueGrowth': 0.136,
 'grossMargins': 0.57639,
 'ebitdaMargins': 0.35176,
 'operatingMargins': 0.32362998,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.1834}

In [ ]:
hist = GOOGLE.history(period="1mo")

In [ ]:
display(hist)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-07-17 00:00:00-04:00,182.970001,183.550003,179.899994,181.020004,20734100,0.0,0.0
2024-07-18 00:00:00-04:00,181.929993,182.500000,176.470001,177.690002,25315700,0.0,0.0
2024-07-19 00:00:00-04:00,178.880005,180.289993,177.130005,177.660004,18881900,0.0,0.0
2024-07-22 00:00:00-04:00,180.589996,182.699997,180.229996,181.669998,24100300,0.0,0.0
2024-07-23 00:00:00-04:00,182.050003,183.610001,181.539993,181.789993,36352700,0.0,0.0
2024-07-24 00:00:00-04:00,173.600006,176.190002,171.820007,172.630005,49585200,0.0,0.0
2024-07-25 00:00:00-04:00,172.520004,173.419998,167.190002,167.279999,44852000,0.0,0.0
2024-07-26 00:00:00-04:00,167.149994,168.089996,164.059998,167.000000,41336900,0.0,0.0
2024-07-29 00:00:00-04:00,168.830002,170.429993,167.990005,169.529999,20293800,0.0,0.0
2024-07-30 00:00:00-04:00,170.240005,171.229996,168.440002,170.289993,18959700,0.0,0.0
2024-07-31 00:00:00-04:00,173.240005,174.250000,170.009995,171.539993,25729100,0.0,0.0
2024-08-01 00:00:00-04:00,170.250000,174.050003,168.880005,170.759995,24531400,0.0,0.0
2024-08-02 00:00:00-04:00,166.440002,168.509995,164.669998,166.660004,29130100,0.0,0.0
2024-08-05 00:00:00-04:00,155.500000,164.429993,154.929993,159.250000,53630700,0.0,0.0
2024-08-06 00:00:00-04:00,159.330002,160.570007,156.410004,158.289993,49004600,0.0,0.0
2024-08-07 00:00:00-04:00,161.250000,162.979996,158.470001,158.940002,25138600,0.0,0.0
2024-08-08 00:00:00-04:00,160.509995,163.690002,160.210007,162.029999,25578800,0.0,0.0
2024-08-09 00:00:00-04:00,160.009995,163.789993,159.059998,163.669998,28602300,0.0,0.0
2024-08-12 00:00:00-04:00,164.350006,164.899994,161.839996,162.289993,15895300,0.0,0.0
2024-08-13 00:00:00-04:00,163.410004,164.729996,162.970001,164.160004,18551700,0.0,0.0
2024-08-14 00:00:00-04:00,162.399994,163.220001,157.710007,160.369995,40591100,0.0,0.0
2024-08-15 00:00:00-04:00,160.500000,161.639999,159.610001,161.300003,31524300,0.0,0.0
2024-08-16 00:00:00-04:00,161.470001,165.059998,161.130005,162.960007,24185000,0.0,0.0

In [ ]:
display(GOOGLE.history_metadata)

{'currency': 'USD',
 'symbol': 'GOOGL',
 'exchangeName': 'NMS',
 'fullExchangeName': 'NasdaqGS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 1092922200,
 'regularMarketTime': 1723838401,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 162.96,
 'fiftyTwoWeekHigh': 165.06,
 'fiftyTwoWeekLow': 161.13,
 'regularMarketDayHigh': 165.06,
 'regularMarketDayLow': 161.13,
 'regularMarketVolume': 24165772,
 'longName': 'Alphabet Inc.',
 'shortName': 'Alphabet Inc.',
 'chartPreviousClose': 183.92,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1723795200,
   'end': 1723815000,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1723815000,
   'end': 1723838400,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1723838400,
   'end': 1723852800,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [ ]:
GOOGLE.actions
GOOGLE.dividends
GOOGLE.splits
GOOGLE.capital_gains

C:\Python\Python39\lib\site-packages\yfinance\scrapers\history.py:420: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series()

Series([], dtype: float64)

In [ ]:
import yahoo_fin.stock_info as si

In [ ]:
quote_table = si.get_quote_table("aapl", dict_result=False)

IndexError: list index out of range

In [ ]:
quote_table = si.get_quote_table("msft", dict_result=False)

IndexError: list index out of range

In [ ]:
response = requests.get("https://finance.yahoo.com/quote/AAPL?p=AAPL")
tables = pd.read_html(response.text)
print(len(tables))

1